<div class="columns">
  <div class="column is-10 is-offset-1" *ngIf="group">
    <div class="columns is-multiline">

      <div class="column is-full">
        <div class="field is-grouped">
          <div class="control">
            <a class="button is-medium is-danger" (click)="goBack()"><span class="icon"><fa-icon [icon]="faArrowLeft"></fa-icon></span></a>
          </div>
          <div class="control is-expanded has-icons-left">
            <input class="input is-medium" placeholder="search">
            <span class="icon is-left">
              <fa-icon [icon]="faSearch"></fa-icon>
            </span>
          </div>
        </div>
      </div>

      <div class="column is-full">
        <p class="title is-4">Selected</p>
      </div>
      <div class="column is-full">
        <div class="columns box is-multiline" *ngIf="type == CAMPAIGN">
          <div class="column is-3" *ngFor="let item of group.campaigns">
            <app-campaign-preview [campaign]="item" [onHoverClass]="'remove'" (callback)="onRemoveItem($event)"></app-campaign-preview>
          </div>
        </div>

        <div class="columns box is-multiline" *ngIf="type == DEVICE">
          <div class="column is-3" *ngFor="let item of group.devices">
            <app-device-preview [device]="item" [onHoverClass]="'remove'" (callback)="onRemoveItem($event)"></app-device-preview>
          </div>
        </div>
      </div>

      <div class="column is-full">
        <p class="title is-4">NOT Selected</p>
      </div>
      <div class="column is-full">
        <div class="columns box is-multiline" *ngIf="type == CAMPAIGN">
          <div class="column is-3" *ngFor="let item of notSelectedItems">
            <app-campaign-preview [campaign]="item" [onHoverClass]="'add'" (callback)="onAddItem($event)"></app-campaign-preview>
          </div>
        </div>

        <div class="columns box is-multiline" *ngIf="type == DEVICE">
          <div class="column is-3" *ngFor="let item of notSelectedItems">
            <app-device-preview [device]="item" [onHoverClass]="'add'" (callback)="onAddItem($event)"></app-device-preview>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>