<div class="columns is-multiline">
  <div class="column is-full">
    <p class="title is-2 is-inline">Companies</p>
    <a class="button is-info is-pulled-right" [routerLink]="['new']">New Company</a>
  </div>
  <div class="column is-full" *ngIf="companies">
    <div class="columns">
      <div class="column is-3" *ngFor="let company of companies">
        <app-company-preview [company]="company"></app-company-preview>
      </div>
    </div>
  </div>
</div>