<!-- <div class="columns is-multiline"> -->
  <div class="column is-full has-bottom-margin-2">
    <p class="title is-inline">Campaigns</p>
    <a class="button is-info is-pulled-right" [routerLink]="['new']">New Campaign</a>
  </div> 
  <div class="columns is-multiline is-list">
    <div class="column is-4" *ngFor="let campaign of campaigns$ | async">
      <a [routerLink]="[campaign.id]">
        <app-campaign-preview [campaign]="campaign"></app-campaign-preview>
      </a>
    </div>
  </div>
<!-- </div> -->