<div class="columns">
  <!-- <div class="column is-10 is-offset-1" *ngIf="campaign$ | async as campaign"> -->
  <div class="column is-10 is-offset-1" *ngIf="campaign">
    <form [formGroup]="campaignForm">
    <div class="columns is-multiline">
      <div class="column is-full">
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-medium is-danger" (click)="goBack()"><span class="icon"><fa-icon [icon]="faArrowLeft"></fa-icon></span></button>
          </div>
          <div class="control is-expanded">
            <input class="input is-medium is-disguised" type="text" formControlName="name" placeholder="Name" required />
          </div>
          <div class="control">
            <button class="button is-medium is-info is-pulled-right" [disabled]="!campaignForm.valid" (click)="saveCampaign()">Save</button>
          </div>
        </div>
      </div>
      <div class="column is-full">
        <div class="columns">
          <div class="column is-6 is-aligned-center">
            <div class="field is-grouped">
              <div class="control">
                <span class="button is-small" [ngClass]="campaign.media_type == 'Image'? 'is-info' : ''">{{campaign.media_type}}</span>
              </div>
              <div class="control">
                <input id="switchRoundedActive" formControlName="status" type="checkbox" name="switchRoundedActive" class="switch is-rounded">
                <label for="switchRoundedActive">{{campaign.status? 'Active' : 'Inactive'}}</label>
              </div>
            </div> 
          </div>
          <div class="column is-3">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Start Date" (dateInput)="inputChanged('input', $event)" (dateChage)="inputChanged('change', $event)" formControlName="date_start">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="column is-3">
            <mat-form-field>
              <input matInput [matDatepicker]="picker2" placeholder="End Date" formControlName="date_end">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- <div class="column is-full">
        <progress class="progress is-sucess" min=1 max=100 value="{{ uploadPercentage }}"></progress>
        Progress: {{ currentUpload?.name }} | {{ uploadPercentage }}% Complete
      </div> -->
      <!-- <div class="column is-full">
        <div class="field">
          <label class="label">Company</label>
        </div>
        <div class="select">
          <select>
            <option>vamos</option>
          </select>
        </div>
      </div> -->
      <div class="column is-full file is-boxed">
        <div class="field">
          <label class="label">Media</label>
        </div>
        <div class="file-drop"
          fileDrop
          (filesDropped)="handleDrop($event)"
          (filesHovered)="dropzoneState($event)"
          [ngClass]="{'active': dropzoneActive}">
          <label class="file-label">
            <input (change)="handleFileUpload($event)" class="file-input" type="file" name="media">
            <span class="file-cta" *ngIf="!loading">
              <span class="file-icon">
                <fa-icon [icon]="faCloudUpload" transform="grow-30"></fa-icon> 
              </span>
              <span class="file-label">
                Choose a file ...
              </span>
            </span>
            <span class="file-cta" *ngIf="loading">
              <span class="file-icon">
                <fa-icon [icon]="faCircleNotch" [spin]="true" transform="grow-30"></fa-icon> 
              </span>
              <span class="file-label">
                Loading
              </span>
            </span>
          </label>
          <img class="is-media" src="{{campaignForm.controls['media_url'].value}}">
        </div>
      </div>
      <div class="column is-full">
        <div class="control has-icon-left">
          <input class="input" type="text" placeholder="url" formControlName="media_url">
          <span class="icon is-smail isleft">
            <i class="fas fa-image"></i>
          </span>
        </div>
      </div>

      <div class="column is-full">
        <div class="columns">
          <div class="column is-half">
            <div class="field">
              <label class="label">Seconds</label>
              <div class="control">
                <input class="input" type="text" placeholder="0" formControlName="seconds">
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="field">
              <label class="label">Weight</label>
              <div class="control">
                <input class="input" type="text" placeholder="0" formControlName="weight">
              </div>
            </div>
          </div>    
        </div>
      </div>

      <div class="column is-full">
        <div class="columns">
          <div class="column is-half">
            <div class="field">
              <label class="label">Total Impressions</label>
              <div class="control">
                <input class="input" type="text" placeholder="0" formControlName="total_impressions">
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="field">
              <label class="label">Current Impressions</label>
              <div class="control">
                <input class="input" type="text" placeholder="0" disabled formControlName="current_impressions" >
              </div>
            </div>
          </div>    
        </div>
      </div>

      <div class="column is-full">
        <div class="field">
          <div class="control">
            <button class="button is-danger is-medium" (click)="onToggleDeleteModal()">DELETE</button>
          </div>
        </div>
      </div>

      <div class="modal" [ngClass]="showDeleteModal? 'is-active' : ''">
        <div class="modal-background" (click)="onToggleDeleteModal()"></div>
        <div class="modal-content">
          <div class="box">
            <div class="columns is-multiline">
              <div class="column is-full">
                <p class="subtitle">Sure you want to eliminate the campaign?</p>
              </div>
              <div class="column is-full">
                <button type="button" class="button is-danger is-pulled-right" (click)="deleteCampaign()">Delete</button>
                <button type="button" class="button is-pulled-right" (click)="onToggleDeleteModal()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <button class="modal-close is-large" aria-label="close" (click)="onToggleDeleteModal()"></button>
      </div>

    </div>
    </form>
  </div>
</div>