

.is-disguised:not(:hover:focus) {
  border: 0px;
  box-shadow: none;
}

img.is-media {
  height: 100%;
  padding-right: 20%;
  padding-left: 20%;
}

.file-drop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  position: relative;
  color: whitesmoke;
  border: 2px dashed whitesmoke;
}

.file-drop.active {
  color: black;
  border-color: black;
}

label.file-label {
  position: absolute;
  height: 100%;
  width: 100%;
}

.file.is-boxed .file-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  height: 100%;
}

.file-cta .file-icon {
  margin-bottom: 20px;
}

.is-aligned-center {
  display: flex;
  align-items: center;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.4);
}
