<div class="columns">
  <div class="column is-10 is-offset-1" *ngIf="company">
    <!-- <form> -->
      <div class="columns is-multiline">

        <div class="column is-full">
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-medium is-danger" type="button" (click)="goBack()"><span class="icon"><fa-icon [icon]="faArrowLeft"></fa-icon></span></button>
            </div>
            <div class="control is-expanded">
              <input class="input is-medium" type="text" placeholder="Name" [ngModel]="company.getName()" (ngModelChange)="company.setName($event)" required minlength="5">
            </div>
            <div class="control is-medium is-info is-pulled-right">
              <button class="button is-medium is-info" type="button" (click)="save()">Save</button>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-full">
        <p class="title">Campaigns</p>
      </div>
      <div class="column is-full">
        <div class="columns is-multiline">
          <div class="column is-4" *ngFor="let campaign of company.campaigns">
            <a [routerLink]="['/campaign', campaign.id]">
              <app-campaign-preview [campaign]="campaign"></app-campaign-preview>
            </a>
          </div>
          <div class="column is-4" *ngIf="company.campaigns.length == 0">
            <p class="subtitle">There is no campaigns</p>
          </div>
        </div>
      </div>

    <!-- </form> -->
  </div>
</div>