<div class="box box-image">
  <article class="media">
    <div class="column is-half">
      <figure class="image box">
        <img src="{{image.uri}}" alt="https://res.cloudinary.com/dxickkr5f/image/upload/v1546617035/sr-tendero-ads/mcdonalds-logo.jpg"/>
      </figure>
    </div>
    <div class="column">
      <h1 class="title is-large">{{image.name}}</h1>
      <span [ngClass]="(image.active)? 'is-success' : 'is-danger'" class="tag">{{image.active ? "Activo" : "Inactivo"}}</span>
      <h2 class="menu-label">Categorias</h2>
      <ul class="menu-list">
        <li *ngFor="let category of image.categories">
          <a>{{category}}</a>
        </li>
      </ul>
    </div>
  </article>
</div>