<div class="box" *ngIf="image$ | async as image">
  <article class="media columns">
    <div class="column is-half">
      <figure class="image">
        <img src="{{image.uri}}" alt="https://res.cloudinary.com/dxickkr5f/image/upload/v1546617035/sr-tendero-ads/mcdonalds-logo.jpg"/>
      </figure>
    </div>
    <div class="column is-half">
      <h1 class="title is-large">{{image.name}}<button class="button is-danger is-pulled-right" (click)="gotoImages()">Regresar</button></h1>
      <div class="field">
        <input id="switchRoundedActive" type="checkbox" name="switchRoundedActive" class="switch is-rounded">
        <label for="switchRoundedActive">Active</label>
      </div>
      <span [ngClass]="(image.active)? 'is-success' : 'is-danger'" class="tag">{{image.active ? "Activo" : "Inactivo"}}</span>
      <h2 class="menu-label">Categorias</h2>
      <ul class="menu-list">
        <li *ngFor="let category of image.categories">
          <a>{{category}}</a>
        </li>
      </ul>
    </div>
  </article>
</div>

