<div  class="columns is-multiline">
  <div class="column is-full">
    <p class="title is-1 is-inline">Groups</p>
    <a class="button is-info is-pulled-right" [routerLink]="['new']">New Group</a>
  </div>
  <div class="column is-6" *ngFor="let group of groups$ | async">
    <a [routerLink]="[group.id]">
      <app-group-preview [group]="group"></app-group-preview>
    </a>
  </div>
</div>