<div class="column is-10 is-offset-1">
  <div class="columns is-multiline">
    <div class="column is-full">
      <div class="field is-grouped">
        <div class="control">
          <button type="button is-medium" class="button is-danger" (click)="goBack()"><span class="icon"><fa-icon [icon]="faArrowLeft"></fa-icon></span></button>
        </div>
        <div class="control" *ngIf="campaign">
          <p class="title">{{campaign.name}}</p>
        </div>
      </div>
    </div>
    <div class="column is-full" *ngIf="devices; else loadingChart">
      <div class="chart">
        <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [colors]="pieChartColors"
          [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
    <ng-template #loadingChart>
      <div class="column is-full loading-chart">
        <span class="icon"><fa-icon [icon]="faCircleNotch" [spin]="true" transform="grow-30"></fa-icon></span>
      </div>
    </ng-template>

    <div class="column is-full" *ngIf="impressions">
      <p class="subtitle">Filter by Date</p>
      <div class="columns is-multiline">
        <div class="column is-3">
          <div class="columns is-multiline">
            <div class="column is-full is-flex">
              <mat-form-field>
                <input matInput [matDatepicker]="picker1" placeholder="Choose a start date" [ngModel]="startDate.getPartialDate()" (ngModelChange)="startDate.setPartialDate($event)">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              <button type="button" class="button ml-auto" (click)="onClearStartDate()"><span class="icon"><fa-icon [icon]="faTimes"></fa-icon></span></button>
            </div>
            <div class="column is-full is-flex">
              <mat-form-field class="is-width-35">
                <input matInput placeholder="Hour" type="number" min="0" max="24" [ngModel]="startDate.getHour()" (ngModelChange)="startDate.setHour($event)">
              </mat-form-field>
              <mat-form-field class="is-width-35">
                <input matInput placeholder="Minute" type="number" min="0" max="60" [ngModel]="startDate.getMinute()" (ngModelChange)="startDate.setMinute($event)">
              </mat-form-field>
              <button type="button" class="button ml-auto" (click)="onClearStartTime()"><span class="icon"><fa-icon [icon]="faTimes"></fa-icon></span></button>
            </div>
          </div>
        </div>
        <div class="column is-3 is-offset-1">
          <div class="columns is-multiline">
            <div class="column is-full is-flex">
              <mat-form-field>
                <input matInput [matDatepicker]="picker2" placeholder="Choose a end date"  [ngModel]="endDate.getPartialDate()" (ngModelChange)="endDate.setPartialDate($event)">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
              <button type="button" class="button ml-auto" (click)="onClearEndDate()"><span class="icon"><fa-icon [icon]="faTimes"></fa-icon></span></button>
            </div>
            <div class="column is-full is-flex">
              <mat-form-field class="is-width-35">
                <input matInput placeholder="Hour" type="number" min="0" max="24" [ngModel]="endDate.getHour()" (ngModelChange)="endDate.setHour($event)">
              </mat-form-field>
              <mat-form-field class="is-width-35">
                <input matInput placeholder="Minute" type="number" min="0" max="24" [ngModel]="endDate.getMinute()" (ngModelChange)="endDate.setMinute($event)">
              </mat-form-field>
              <button type="button" class="button ml-auto" (click)="onClearEndTime()"><span class="icon"><fa-icon [icon]="faTimes"></fa-icon></span></button>
            </div>
          </div>
        </div>
        <div class="column is-full">
          <button type="button" class="button is-info" (click)="onSearch()" [disabled]="!startDate.isValid() || !endDate.isValid()"><span class="icon"><fa-icon [icon]="faSearch"></fa-icon></span>&nbsp;&nbsp;Search</button>
        </div>
      </div>
      
      <table class="table is-fullwidth is-hoverable">
        <thead>
          <th>Date</th>
          <th>Campaign</th>
          <th>Device</th>
        </thead>
        <tbody>
          <tr *ngFor="let impression of impressions">
            <td>{{impression.date_time}}</td>
            <td>{{impression.campaign_id}}</td>
            <td>{{impression.device_id}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>