<div class="columns">
  <div class="column is-10 is-offset-1">
    <form #groupForm="ngForm" (ngSubmit)="saveGroup()">
    <div class="columns is-multiline" *ngIf="group">

      <div class="column is-full">
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-medium is-danger" type="button" (click)="goBack()"><span class="icon"><fa-icon [icon]="faArrowLeft"></fa-icon></span></button>
          </div>
          <div class="control is-expanded">
            <input class="input is-medium" type="text" placeholder="Name" name="name" [ngModel]="group.getName()" (ngModelChange)="group.setName($event)" required minlength="5" />
          </div>
          <div class="control">
            <button type="submit" class="button is-medium is-info is-pulled-right" [disabled]="!groupForm.form.valid || !group.isTouched()">SAVE</button>
          </div>
        </div>
      </div>

      <div class="column is-full has-margin-top">
        <p class="title">Campaigns</p>
      </div>
      <div class="column is-9">
        <div class="columns is-multiline">
          <div class="column is-4" *ngFor="let campaign of group.campaigns">
            <a [routerLink]="['../../campaigns', campaign.id]">
              <app-campaign-preview [campaign]="campaign"></app-campaign-preview>
            </a>
          </div>
          <div class="column is-4" *ngIf="group.campaigns.length == 0">
            <p class="subtitle">There is no campaigns</p>
          </div>
        </div>
      </div>
      <div class="column is-3 is-flex is-centered">
        <div class="is-hcentered">
          <a class="button is-rounded is-large" [routerLink]="['add-components', 'campaign']">
            <span class="icon"><fa-icon [icon]="faPlus"></fa-icon></span>
          </a>
          <label class="label">Add a Campaign</label>
        </div>
      </div>

      <div class="column is-full has-margin-top">
        <p class="title">Devices</p>
      </div>
      <div class="column is-9">
        <div class="columns is-multiline">
          <div class="column is-4" *ngFor="let device of group.devices">
            <a [routerLink]="['../../devices', device.id]">
              <app-device-preview [device]="device"></app-device-preview>
            </a>
          </div>
          <div class="column is-4" *ngIf="group.devices.length == 0">
            <p class="subtitle">There is no devices</p>
          </div>
        </div>
      </div>
      <div class="column is-3 is-flex is-centered">
        <div class="is-hcentered">
          <a class="button is-rounded is-large" [routerLink]="['add-components', 'device']">
            <span class="icon"><fa-icon [icon]="faPlus"></fa-icon></span>
          </a>
          <label class="label">Add a Device</label>
        </div>
      </div>

      <div class="column is-full has-margin-top">
        <div class="field">
          <div class="control">
            <button type="button" class="button is-danger is-medium" (click)="onToggleDeleteModal()">DELETE</button>
          </div>
        </div>
      </div>

      <div class="modal" [ngClass]="showDeleteModal? 'is-active' : ''">
        <div class="modal-background" (click)="onToggleDeleteModal()"></div>
        <div class="modal-content">
          <div class="box">
            <div class="columns is-multiline">
              <div class="column is-full">
                <p class="subtitle">Sure you want to eliminate the group?</p>
              </div>
              <div class="column is-full">
                <button type="button" class="button is-danger is-pulled-right" (click)="deleteGroup()">Delete</button>
                <button type="button" class="button is-pulled-right" (click)="onToggleDeleteModal()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <button class="modal-close is-large" aria-label="close" (click)="onToggleDeleteModal()"></button>
      </div>

    </div>
    </form>
  </div>
</div>