.is-centered {
  justify-content: center;
  align-items: center;
}

.is-hcentered {
  text-align: center;
  justify-content: center;
}


input.ng-invalid {
  border-left: 5px solid #A94442;
}

input.ng-untouched {
  border-left: 1px solid #DBDBDB;
}

input.ng-valid {
  border-left: 5px solid #42A948;
}

.has-margin-top {
  margin-top: 30px;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.4);
}