
  <div class="section" *ngIf="images$ | async">
    <div class="container">
      <button class="button is-info" (click)="onGetImages()">Get Images</button>
    </div>
  </div>
  <div class="section">
    <div class="columns is-multiline">
      <div class="column is-half image-container" *ngFor="let image of images$ |async">
        <!-- <img src="{{image.uri}}"> -->
        <a [routerLink]="['/image', image.id]">
          <app-image-preview [image]="image"></app-image-preview>
        </a>
      </div>
    </div> 
  </div>