<!-- <div class="column is-10 is-offset-1"> -->
  <div class="columns is-multiline box">
    <form [formGroup]="registerForm">
      <div class="column is-full">
        <p class="title">Register</p>
      </div>
      
      <div class="column is-full">
        <div class="columns">
          <div class="column is-half">
            <div class="field">
              <label class="label">First Name</label>
              <div class="control">
                <input type="text" class="input" placeholder="First Name">
              </div>
            </div>
          </div>

          <div class="column is-half">
            <div class="field">
              <label class="label">Last Name</label>
              <div class="control">
                <input type="text" class="input" placeholder="Last Name">
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="column is-full">
        <div class="field">
          <label class="label">Username</label>
          <div class="control">
            <input type="text" class="input" placeholder="username">
          </div>
        </div>
      </div>

      <div class="column is-full">
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input type="password" class="input" placeholder="password">
          </div>
        </div>
      </div>

      <div class="column is-full">
        <div class="field">
          <button type="button" class="button is-info">Login</button>
          <button type="button" class="button is-info is-pulled-right">Register</button>
        </div>
      </div> 

    </form>
  </div>
<!-- </div> -->
