
.box-image:hover {
  background-color: whitesmoke;
  /*color*/
}

article.media {
  flex-direction: column;
}

.title-container {
  display: flex;
  align-items: center;
}
.title {
  margin-bottom: 0px;
}
.title-container .tag {
  margin-left: 20px
}

.date-container {
  display: flex;
  justify-content: flex-end;
}

