<div class="box box-image">
  <article class="media">

    <div class="columns" style="width: 100%">
      <div class="column is-half title-container" style="display: flex; align-items: center;">
        <h1 class="title is-large is-inline">
          {{event.name}}
        </h1>
      
        <span [ngClass]="(event.active)? 'is-success' : 'is-danger'" class="tag">{{event.active? "Activo" : "Inactivo"}}</span>
      </div>
      <div class="column tags has-addons date-container">
        <span class="tag is-primary">{{event.getSimpleStartDate()}}</span>
        <span class="tag is-dark">-------</span>
        <span class="tag is-primary">{{event.getSimpleEndDate()}}</span>
      </div>
    </div>
    <div>
    </div>
  </article>    
</div>