<section class="hero is-fullheight-with-navbar is-full-height">

  <div class="hero-head">
    <nav class="navbar is-black is-fixed-top">
      <div class="container">
        <div class="navbar-brand">
          <a routerLink="/" class="navbar-item">
            <img src="https://res.cloudinary.com/dxickkr5f/image/upload/v1551812396/bunker-logo.png"/>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">
              Home
            </a>
            <a class="navbar-item">
              Login
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body is-full-height">

    <!-- <div class="tile is-ancestor">
      <div class="tile is-parent is-2">
        <div class="tile box">
          <aside>
            <p class="menu-label">
              General
            </p>
            <ul class="menu-list">
              <li><a [routerLink]="['/events']">Campaings</a></li>
              <li><a [routerLink]="['/groups']">Groups</a></li>
              <li><a>Devices</a></li>
            </ul>
            <p class="menu-label">
              Charts
            </p>
            <ul class="menu-list">
              <li><a>Devices</a>
              <li><a>Impressions</a>  
            </ul>
          </aside>
        </div>
      </div>
      <div class="tile is-parent is-10">
        <div class="tile is-child">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div> -->

    <!-- <div class="columns is-full-height is-full-width">
      <div class="column is-2 is-hidden-mobile is-full-height is-fixed">
          <aside class="box">
            <p class="menu-label">
              General
            </p>
            <ul class="menu-list">
              <li><a [routerLink]="['/events']">Campaings</a></li>
              <li><a [routerLink]="['/groups']">Groups</a></li>
              <li><a [routerLink]="['/devices']">Devices</a></li>
            </ul>
            <p class="menu-label">
              Charts
            </p>
            <ul class="menu-list">
              <li><a [routerLink]="['/stats']">Stats</a>
            </ul>
          </aside>
      </div>
      <div class="column is-10 is-pulled-right is-offset-2">
          <router-outlet></router-outlet>
      </div>
    </div> -->

    <router-outlet></router-outlet>
  </div>

</section>
