html, body {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.is-full-width {
  width: 100%;
}
.is-full-height {
  height: 100%;
}

.hero .navbar.is-black {
  background-color: #0a0a0a;
}

.hero .hero-body {
  align-items: normal;
}

.mat-simple-snackbar {
  justify-content: center;
}

.is-fixed {
  position: fixed;
}

/*.image-container {
  padding-left: 20px;
  padding-right: 10px;
}*/