
.map {
  height: 300px;
}

input.ng-invalid {
  border-left: 5px solid #A94442;
}

input.ng-untouched {
  border-left: 1px solid #DBDBDB;
}

input.ng-valid {
  border-left: 5px solid #42A948;
}

::ng-deep snack-bar-container.is-danger{
  background-color: hsl(348, 100%, 61%);
}