<div class="columns">
  <div class="column is-10 is-offset-1" *ngIf="device">
    <form #deviceForm="ngForm" (ngSubmit)="saveDevice()">
      <div class="columns is-multiline">

      
        <div class="column is-full">
          <div class="field is-grouped">
            <div class="control">
              <a class="button is-medium is-danger" (click)="goBack()"><span class="icon"><fa-icon [icon]="faArrowLeft"></fa-icon></span></a>
            </div>
            <div class="control is-expanded">
              <input #name class="input is-medium" type="text" name="device_id" placeholder="Name" [ngModel]="device.device_id" (ngModelChange)="device.setDeviceId($event)" required minlength="3" />
            </div>
            <div class="control">
              <button type="submit" class="button is-medium is-info is-pulled-right" [disabled]="!deviceForm.form.valid || !device.isTouched()">SAVE</button>
            </div>
          </div>
        </div>

        <div class="column is-full2">
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" name="name" [ngModel]="device.name" (ngModelChange)="device.setName($event)" required minlength="4" />
            </div>
          </div>
        </div>

        <div class="column is-full">
          <div #gmap class="map">
          </div>
        </div>

        <div class="column is-6">
          <div class="field">
            <label class="label">Latitud</label>
            <div class="control">
              <input class="input" type="number" name="location_latitude" [ngModel]="device.location_latitude" (ngModelChange)="device.setLocationLatitude($event)" required />
            </div>
          </div>
        </div>

        <div class="column is-6">
          <div class="field">
            <label class="label">Logitud</label>
            <div class="control">
              <input class="input" type="number" name="location_longitude" [ngModel]="device.location_longitude" (ngModelChange)="device.setLocationLongitude($event)" required />
            </div>
          </div>
        </div>

        <div class="column is-full">
          <div class="field">
            <label class="label">Address</label>
            <div class="control">
              <input class="input" type="text" name="address" [ngModel]="device.address" (ngModelChange)="onAddressChange($event)" required />
            </div>
          </div>
        </div>

        <div class="column is-full">
          <button type="button" class="button is-danger is-medium">DELETE</button>
        </div>
      

      </div>
    </form>
  </div>
</div>