<div class="box group">
  <article class="media">
    <div class="media-content">
      <p class="title is-4">{{group.name}}</p>
      <p><span class="tag is-light">Campaigns:</span> {{group.campaigns.length}}</p>
    </div>
  </article>
</div>