<div class="columns is-multiline">
  <div class="column is-full">
    <p class="title is-2 is-inline">Devices</p>
    <a class="button is-info is-pulled-right" [routerLink]="['new']">New Device</a>
  </div>
  <div class="column is-4" *ngFor="let device of devices$ | async">
    <a [routerLink]="[device.id]">
      <app-device-preview [device]="device"></app-device-preview>
    </a>
  </div>
</div>