

input.ng-untouched:focus {
  border-left: 1px solid #3273dc;
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

input.ng-invalid {
  border-left: 5px solid #A94442;
}

input.ng-untouched {
  border-left: 1px solid #DBDBDB;
}

input.ng-valid {
  border-left: 5px solid #42A948 !important;
}
