<div class="column is-10 is-offset-1">
  <div class="columns">
    <form class="columns is-multiline box" *ngIf="!loadingLogin; else loadingLoginTemplate">

      <h3 class="title is-3">Login</h3>

      <div class="column is-full">
        <div class="field">
          <label class="label">Name</label>
          <div class="control has-icons-left">
            <input class="input" type="text" placeholder="Name" name="name" [(ngModel)]="username" required minlength="4">
            <span class="icon is-left"><fa-icon [icon]="faUser"></fa-icon></span>
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-left">
            <input class="input" type="password" placeholder="Password" name="password" [(ngModel)]="password" required minlength="6" (keydown.enter)="prueba($event)">
            <span class="icon is-left"><fa-icon [icon]="faKey"></fa-icon></span>
          </div>
        </div>
      </div>
      <div class="column is-full field">
        <div class="control">
          <button class="button is-link is-pulled-right" type="button" (click)="login()">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
<ng-template #loadingLoginTemplate>
  <div>
    <span class="icon"><fa-icon [icon]="faCircleNotch" [spin]="true" transform="grow-30"></fa-icon></span>
  </div>
</ng-template>
