.box.campaign:hover {
  position: relative;
}
.box.campaign.normal:hover {
  background-color: whitesmoke;
}

.box.campaign.add:hover .media, .box.campaign.remove:hover .media {
  opacity: 0.4;
}

article.media {
  height: 100%;
}

article > .colum.is-full {
  height: 20%;
}

article > figure.image.column {
  height: 80%;
  display: flex;
  justify-content: center;
}

figure > img {
  height: 100%;
  width: auto;
}

.media.columns {
  margin-bottom: 0px;
}

.box.campaign .column .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.box.campaign .icon.delete {
  display: none;
  position: absolute;
  right: -5px;
  top: -5px;
  border-radius: 25px;
}

.box.campaign .icon.add, .box.campaign .icon.remove {
  display: none;
  position: absolute;
  right: 45%;
  top: 45%;
  border-radius: 25px;
}

.box.campaign.normal:hover .icon.delete {
  display: block;
}

.box.campaign.add:hover .icon.add, .box.campaign.remove:hover .icon.remove  {
  display: flex;
  color: white;
}