<div class="box campaign" [ngClass]="onHoverClass" (click)="onClick()" [style.height.px]="height">
  <article class="media columns is-multiline">
    <div class="column is-full">
      <h1 class="title is-large is-inline is-marginless is-pulled-left">
        {{campaign.name}}
      </h1>
      <span class="tag is-info is-pulled-right">{{campaign.media_type}}</span>
    </div>
    <figure class="image column is-full">
      <img src="{{campaign.media_url}}"/>
    </figure>
  </article>
  <!-- <span class="icon is-medium has-background-danger delete"><fa-icon [icon]="faArrowLeft"></fa-icon></span> -->
  <span class="icon is-large has-background-info add"><fa-icon [icon]="faPlus" transform="grow-10"></fa-icon></span>
  <span class="icon is-large has-background-danger remove"><fa-icon [icon]="faTimes" transform="grow-10"></fa-icon></span>
</div>