
.loading-chart {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-fullwidth {
  width: 100%;
}

.is-flex {
  display: flex;
  align-items: center;
}

.ml-auto {
  margin-left:  auto;
}

.is-width-35 {
  width: 35%
}

.is-clickable {
  cursor: pointer;
}