<div class="box" [ngClass]="onHoverClass" (click)="onClick()">
  <div class="device">
    <p class="title is-3">{{device.name}}</p>
    <p class="subtitle">{{device.address}}</p>
    <p class="p"></p>
  </div>
  <span class="icon is-large has-background-info add"><fa-icon [icon]="faPlus"></fa-icon></span>
  <span class="icon is-large has-background-danger remove"><fa-icon [icon]="faTimes"></fa-icon></span>
</div>