
.box {
  position: relative;
}

.box.normal:hover {
  background-color: whitesmoke;
}

.box.add:hover .device, .box.remove:hover .device {
  opacity: 0.4;
}

.box .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.box > .icon {
  display: none;
  position: absolute;
}

.box .icon.add, .box .icon.remove {
  right: 45%;
  top: 40%;
  border-radius: 25px;
  color: white;
}

.box.add:hover .icon.add, .box.remove:hover .icon.remove {
  display: flex;
}