<div class="columns is-full-height is-full-width">
  <div class="column is-2 is-hidden-mobile is-full-height is-fixed">
      <aside class="box">
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li><a [routerLink]="['./campaigns']" routerLinkActive="is-active">Campaings</a></li>
          <!-- <li><a [routerLink]="['./companies']" routerLinkActive="is-active">Companies</a></li> -->
          <li><a [routerLink]="['./groups']" routerLinkActive="is-active">Groups</a></li>
          <li><a [routerLink]="['./devices']" routerLinkActive="is-active">Devices</a></li>
        </ul>
        <p class="menu-label">
          Charts
        </p>
        <ul class="menu-list">
          <li><a [routerLink]="['/home/stats']" routerLinkActive="is-active">Stats</a>
        </ul>
      </aside>
  </div>
  <div class="column is-10 is-pulled-right is-offset-2">
      <router-outlet></router-outlet>
  </div>
</div>